<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtourdata</servlet-name>
        <servlet-class>addtourdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addplacesdata</servlet-name>
        <servlet-class>addplacesdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtransportdata</servlet-name>
        <servlet-class>addtransportdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadphoto</servlet-name>
        <servlet-class>uploadphoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateitenerarydata</servlet-name>
        <servlet-class>updateitenerarydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerchecklogin</servlet-name>
        <servlet-class>customerchecklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcustomer</servlet-name>
        <servlet-class>addcustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerlogout</servlet-name>
        <servlet-class>customerlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booktour</servlet-name>
        <servlet-class>booktour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatetransportdata</servlet-name>
        <servlet-class>updatetransportdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatetouristinfo</servlet-name>
        <servlet-class>updatetouristinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customeraddreview</servlet-name>
        <servlet-class>customeraddreview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatetour</servlet-name>
        <servlet-class>updatetour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addquery</servlet-name>
        <servlet-class>addquery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletetour</servlet-name>
        <servlet-class>deletetour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepassword</servlet-name>
        <servlet-class>updatepassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtourdata</servlet-name>
        <url-pattern>/addtourdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addplacesdata</servlet-name>
        <url-pattern>/addplacesdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtransportdata</servlet-name>
        <url-pattern>/addtransportdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadphoto</servlet-name>
        <url-pattern>/uploadphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateitenerarydata</servlet-name>
        <url-pattern>/updateitenerarydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerchecklogin</servlet-name>
        <url-pattern>/customerchecklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcustomer</servlet-name>
        <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerlogout</servlet-name>
        <url-pattern>/customerlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booktour</servlet-name>
        <url-pattern>/booktour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatetransportdata</servlet-name>
        <url-pattern>/updatetransportdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatetouristinfo</servlet-name>
        <url-pattern>/updatetouristinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customeraddreview</servlet-name>
        <url-pattern>/customeraddreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatetour</servlet-name>
        <url-pattern>/updatetour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addquery</servlet-name>
        <url-pattern>/addquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletetour</servlet-name>
        <url-pattern>/deletetour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepassword</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
